@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
}
.homePage {
	background: #A38C56;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #FFEABA;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
}
.nav {
	background: #F0D598;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #FFFFFF;
	margin: 10px;
	padding: 0;
	float: left;
	width: 100%;
}
.footer {
	background: #4663A3;
	margin: 0px;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
a:link {
     color: #000000;
}
a:visited {
     color: #111111;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
